<div class="container">
  @for(post of blogData(); track 'post-' + post.id) {
      <article>
          <p>
              <b>Title: {{post.title}}</b>
          </p>
          <p>Body: {{post.body}}</p>
          <p>
              Author:
              <em>{{post.author.name}}</em>
          </p>
          <div>
              <button type="button" (click)="addComment(post.author.id, post.id)">
                  Add Comment
              </button>
          </div>
          <div>
              <p>Comments:</p>
              @for(comment of post.comments; track 'comment-' + comment.id) {
                  <div style="padding-left: 2rem">
                      {{comment.comment}}
                  </div>
              }
          </div>
      </article>
  }
    <div>
        <p>Add new Comment</p>
        <label for="author">Author</label> <br>
        <select name="author" id="author">
            @for (author of authorData(); track 'author-' + author.id) {
                <option [value]="author.id">
                    {{author.name}}
                </option>
            }
        </select>
        <br>
        <br>
        <label for="comment">Comment</label> <br>
        <textarea name="comment" id="comment" placeholder="Comment"></textarea>
    </div>
</div>
