<div class="container">
  <button type="button" (click)="sendMessage()">Send Message</button>
  <br>
  <!--@for (post of postsSignal(); track post.id) {
    <div>
      <b>Post Body:</b>
      <p>{{ post.body }}</p>
    </div>
    <div>
      <b>Author:</b>
      <p>
        <em>{{ post.author.name }}</em>
      </p>
    </div>
    <h2>Comments</h2>
    @for (comment of post.comments; track comment.id) {
      <p>{{ comment.id }}</p>
      <p>{{ comment.comment }}</p>
    }
  }-->


  <!--<form [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <div formArrayName="posts">
      @for (post of postsArray.controls; let i = $index; track 'post-' + i) {
        <div [formGroupName]="i">
          <div>
            <label for="body">Post Text</label>
            <input type="text" id="body" formControlName="body">
          </div>
          <div formArrayName="comments">
            @if (getCommentsArray(i); as commentsArray) {
              @for (comment of commentsArray.controls; let j = $index; track 'comment-' + j) {
                <div [formGroupName]="j">
                  <label>
                    Comment:
                    <input formControlName="comment"/>
                  </label>
                </div>
              }
            }
          </div>
        </div>
      }
    </div>
    <br>
    <button type="submit" [disabled]="formGroup.invalid">Send</button>
  </form>-->


  @if (formGroup) {
    <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
      <!--<div formArrayName="posts">
        @for (post of formGroup.controls['posts'].controls; let i = $index; track 'post-' + i) {
          <div [formGroupName]="i">
            <div>
              <label for="body">Post Text</label>
              <input type="text" id="body" formControlName="body">
            </div>
            <div formArrayName="comments">
              @for (comment of getCommentsArray(i).controls; let j = $index; track 'comment-' + j) {
                <div [formGroupName]="j">
                  <label>
                    Comment:
                    <input formControlName="comment"/>
                  </label>
                </div>
              }
            </div>
          </div>
        }
      </div>-->
      <br>
      <button type="submit" [disabled]="formGroup.invalid">Send</button>
    </form>
  }
</div>
